@using PagedList.Mvc;
@using Casanueva.Helpers;
@model Casanueva.Models.PropertiesListViewModel
@{
    ViewBag.Title = "Listado de Propiedades";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <script src="~/Scripts/casanueva.js"></script>
    <script type="text/javascript">
        $(document).ready(function (){
            cargarSelect('#ddlAmbientes', 10);
            cargarSelect('#ddlSanitarios', 10);

            $("#items_per_page").change(function () {
                search("default");
            });
        });

        //// Adding popstate event listener to handle browser back button
        //window.addEventListener("popstate", function (e) {
        //    $.ajax({
        //        url: location.href,
        //        success: function (result) {
        //            ChangeUrl('ListadoPropiedades', url);
        //            //$('#PropertiesListSection').html(result);
        //        }
        //    });
        //});

        $(function () {
            $("#btnSearchProperty").click(function () {
                search();
            });

            $("#SearchString").keypress(function (e) {
                if (e.keyCode == 13) {
                    search();
                }
            });

            $("#btnResetProperty").click(function () {
                resetForm();
            });

            $('body').on('click', '#PropertiesListSection .pagination a', function (event) {
                event.preventDefault();
                ChangeUrl('ListadoPropiedades', url);

                var searchString = $('#SearchString').val();
                if (searchString == undefined || searchString == '') {
                    searchString = '';
                } else {
                    searchString = '&searchString=' + searchString;
                }
                var url = $(this).attr('href') + searchString;
                console.log(url);
                $.ajax({
                    url: url,
                    success: function (result) {                        
                        $('#PropertiesListSection').html(result);
                    }
                });
            });


            $('body').on('click', '#PropertiesListSection .table a', function (event) {
                event.preventDefault();
                //search("default");
            });

            $("#sortPropertyLink").click(function () {
                sortPropiedades();
            });

            $("#layoutList").click(function () {
                guardarLayoutEnSession('true');
            });
            $("#layoutGrid").click(function () {
                guardarLayoutEnSession('false');
            });

            var guardarLayoutEnSession = function (pLayoutList) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SetLayoutType", "PropertiesList")',
                    data: 'pLayoutList=' + pLayoutList,
                    dataType: "json",
                    //contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        // Result.
                        onAjaxRequestSuccess(result);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        //do your own thing
                        console.log(errorThrown);
                    }
                });
            };
            var displayNoRecordsFound = function () {
                $('#PropertiesListSection').html($('#PropertiesNoRecordsFoundSection').html);
            };
            var resetForm = function () {
                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: '@Url.Action("ResetFiltroPropiedades", "PropertiesList")',
                    //contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        console.log('Filtros limpios.')
                    },
                    error: function (result) {
                        console.log('Error procesando.')
                    }
                });
            };

            var sortPropiedades = function () {
                search("not_default");
            };
        });
    </script>

    <div id="preloader" style="display: none;">
        <div id="status" style="display: none;">&nbsp;</div>
    </div>
    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End page header -->
    <div id="hiddenFields">
        <input type="hidden" id="txtHidPrecioMin">
        <input type="hidden" id="txtHidPrecioMax">
        <input type="hidden" id="txtHidDescripcion">
        <input type="hidden" id="txtHidTest" />
    </div>
    <!-- property area -->
    <div class="properties-area recent-property" style="background-color: #FFF;">
        <div class="container">
            <div class="row">

                <div class="col-md-3 p0 padding-top-40">
                    <div class="blog-asside-right pr0">
                        <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                            <div class="panel-heading">
                                <h3 class="panel-title">Búsqueda inteligente</h3>
                            </div>
                            <div class="panel-body search-widget">
                                <form action="" class="form-inline">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input id="SearchString" name="SearchString" type="text" class="form-control" placeholder="Palabra clave">
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label><b>Barrio:</b></label>
                                                @Html.DropDownListFor(m => m.Combos.CiudadSeleccionada, Model.Combos.Ciudades, htmlAttributes: new { @class = "selectpicker", id = "ddlBarrio" })
                                            </div>
                                            <div class="col-xs-6">
                                                <label><b>Operación:</b></label>
                                                @Html.DropDownListFor(m => m.Combos.TipoOperacionSeleccionado, Model.Combos.TiposOperacion, htmlAttributes: new { @class = "selectpicker", id = "ddlTipoAviso" })
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="padding-5">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label><b>Tipo De Moneda:</b></label>
                                                @Html.DropDownListFor(m => m.Combos.Monedas, Model.Combos.Monedas, htmlAttributes: new { @class = "selectpicker", id = "ddlTipoMoneda" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label for="price-range"><b>Min. Precio [$]:</b></label>
                                                <input type="number" id="txtPrecioMin" value="0" class="form-control">
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="price-range"><b>Máx. Precio [$]:</b></label>
                                                <input type="number" id="txtPrecioMax" value="0" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <label for="property-geo"><b>M<sup>2</sup> Cubiertos (Mínimo):</b></label>
                                                @*@Html.TextBox("txtMetrosCubiertosMax", "", new { @class = "form-control" })*@
                                                <input type="number" id="txtMetrosCubiertosMax" value="0" class="form-control" placeholder="Ingrese Monto..." min="0">
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="padding-5">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <select id="ddlSanitarios" class="selectpicker show-tick form-control" title="Baños"></select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select id="ddlAmbientes" class="selectpicker show-tick form-control" title="Ambientes"></select>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="padding-5">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="checkbox">
                                                    <label> <input id="conGarage" type="checkbox"> Garage</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="checkbox">
                                                    <label> <input id="conAptoProf" type="checkbox"> Apto Prof.</label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="padding-5">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="checkbox">
                                                    <label> <input id="conAgua" type="checkbox"> Agua</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="checkbox">
                                                    <label> <input id="conLuz" type="checkbox"> Luz</label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="padding-5">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="checkbox">
                                                    <label><input id="conGas" type="checkbox"> Gas</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="checkbox">
                                                    <label><input id="conInternet" type="checkbox"> Internet</label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="padding-5">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="checkbox">
                                                    <label><input id="conSeguridadPriv" type="checkbox"> Seg. Priv.</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="checkbox">
                                                    <label><input id="conPorteroElectrico" type="checkbox"> Portero Elec.</label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="padding-5">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="checkbox">
                                                    <label><input id="conAireAcondicionado" type="checkbox"> A/A</label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input id="btnSearchProperty" class="button btn largesearch-btn" value="Buscar" type="button">
                                            </div>
                                            <div class="col-xs-12">
                                                <input id="btnResetProperty" class="button btn largesearch-btn" style="background-color:#FF0077;color:#FFF;font-size:16px;font-weight:bold" value="Quitar Filtros" type="submit">
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End search section -->

                <div class="col-md-9  pr0 padding-top-40 properties-page">
                    <div class="col-md-12 clear">
                        <div class="col-xs-10 page-subheader sorting pl0">
                            <form>
                                <ul class="sort-by-list">
                                    <li id="sortByPrice" class="">
                                        <a id="sortPropertyLink" class="order_by_price" data-orderby="property_price" data-order="DESC">Ordenar por precio <i id="sortIcon" class="fa fa-sort-numeric-asc"></i></a>
                                    </li>
                                </ul>
                            </form>
                            <!--/ .sort-by-list-->

                            <div class="items-per-page">
                                <label for="items_per_page"><b>Propiedades por página:</b></label>
                                <div id="frmPaging" class="sel">
                                    @Html.DropDownList("pageSize", (List<SelectListItem>)ViewBag.PageSize, new { @class = "sel", id = "items_per_page", name = "per_page"})
                                </div>
                                <!--/ .sel-->
                            </div>
                            <!--/ .items-per-page-->

                        </div>

                        <div class="col-xs-2 layout-switcher">
                            <a id="layoutList" class="layout-list"> <i class="fa fa-th-list"></i>  </a>
                            <a id="layoutGrid" class="layout-grid active"> <i class="fa fa-th"></i> </a>
                        </div>
                        <!--/ .layout-switcher-->
                    </div>

                    <!-- BLOQUE PARA TODAS LAS PROPIEDADES VISITANTE -->
                    <div id="PropertiesListSection">
                        @Html.Partial("~/Views/Sublayouts/PropertiesList/PropertiesListGridSection.cshtml", Model)
                    </div>
                    <!--/ .list-type-->
                </div>
            </div>
        </div>
    </div>
}