<html>
    <head>
        <!-- Google Tag Manager -->
        <meta charset="utf-8">
        <!-- Force Internet Explorer To use Edge compatibility mode -->
        <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1">
        <title>CASANUEVA PROPIEDADES</title>
        <meta name="description" content="CASANUEVA PROPIEDADES - Venta y alquiler de propiedades e inmuebles. Atención personalizada. Nos avalan mas de 20 años de trayectoria en el rubro inmobiliario.">
        <meta name="keyword" content="propiedades, casanueva, caballito, property, real-estate, caba, buenos aires">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../images/favicon.ico" type="image/x-icon">

        @*@Scripts.Render("~/scripts/AllMyCss.css")*@      
        <link rel="stylesheet" href="~/styles/normalize.css">
        <link rel="stylesheet" href="~/styles/font-awesome.min.css">
        <link rel="stylesheet" href="~/styles/fontello.css">
        <link rel="stylesheet" href="~/fonts/icon-7-stroke/css/pe-icon-7-stroke.css">
        <link rel="stylesheet" href="~/fonts/icon-7-stroke/css/helper.css">
        <link rel="stylesheet" href="~/styles/animate.css" media="screen">
        <link rel="stylesheet" href="~/styles/bootstrap-select.min.css">
        <link rel="stylesheet" href="~/styles/bootstrap.min.css">
        <link rel="stylesheet" href="~/styles/icheck.min_all.css">
        <link rel="stylesheet" href="~/styles/price-range.css">
        <link rel="stylesheet" href="~/styles/owl.carousel.css">
        <link rel="stylesheet" href="~/styles/owl.theme.css">
        <link rel="stylesheet" href="~/styles/owl.transitions.css">
        <link rel="stylesheet" href="~/Content/style.css">
        <link rel="stylesheet" href="~/styles/responsive.css">
        <link rel="stylesheet" href="~/Content/tags.css"/>
        <link rel="stylesheet" href="~/styles/lightslider.min.css">
        <link rel="stylesheet" href="~/styles/lightGallery.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/print.css" media="print"/>
        <script src="~/Scripts/jquery-2.1.3.min.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </head>
<body>
    <div id="preloader" style="display: none;">
        <div id="status" style="display: none;">&nbsp;</div>
    </div>    
    <header>
        @Html.Partial("~/Views/Sublayouts/Header.cshtml")
    </header>
        @Html.Partial("~/Views/Sublayouts/NavBar.cshtml")
        @RenderBody()
    <footer>
        @Html.Partial("~/Views/Sublayouts/FooterArea.cshtml")
    </footer>

    @*@Scripts.Render("~/scripts/AllMyJS.js")*@
    
    <script src="~/Scripts/modernizr-2.6.2.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/bootstrap-hover-dropdown.js"></script>
    <script src="~/Scripts/easypiechart.min.js"></script>
    <script src="~/Scripts/jquery.easypiechart.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/wow.js"></script>
    <script src="~/Scripts/icheck.min.js"></script>
    <script src="~/Scripts/price-range.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/lightslider.min.js" type="text/javascript"></script>
    <script src="~/Scripts/lightGallery.js"></script>
    <script src="~/Scripts/buscadorPropiedades.js"></script>
    <script src="~/Scripts/envioMailingPropiedades.js"></script>

    @*<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>*@

    @*<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChpy3WP7YGz_kIct4N3ph5RilCQ7F1be0&callback=initMap" type="text/javascript"></script>*@
    @*<script src="~/Scripts/gmaps.js"></script>*@
    @*<script src="~/Scripts/gmaps.init.js"></script>*@

    @RenderSection("Scripts", required: false)
</body>

</html>