@model Casanueva.Models.AddPropertyViewModel

@{
    ViewBag.Title = "EditProperty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/casanueva.js"></script>
<script src="~/Scripts/jquery.bootstrap.wizard.js"></script>
<script src="~/Scripts/bootstrap-wizard.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="~/styles/wizard.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/styles/addProperty.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/casanueva.js"></script>
<script src="~/Scripts/jquery.bootstrap.wizard.js"></script>
<script src="~/Scripts/bootstrap-wizard.min.js"></script>
<script src="~/Scripts/wizard.js"></script>
<link href="~/styles/wizard.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/styles/addProperty.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(function () {
        //$("#accordion").accordion();
        $("#accordion").accordion({

            heightStyle: "content"

        });
    });
</script>



<script>

    $(document).ready(function () {


        startTag = "<TABLE class=\"table table-striped\" id='tblAmbientes' name='tblAmbientes'><TBODY><TR><TD>Codigo Ambiente</TD><TD>Ambiente</TD><TD>Largo</TD><TD>Ancho</TD><TD>Comentarios</TD><TD>Eliminar</TD></TR>"
        endTag = "</TBODY></TABLE>"

        newTable = startTag;
        var trContents;

        //Get the row contents
        trContents = document.body.getElementsByTagName('TR');
        if (trContents.length > 1) {
            for (i = 1; i < trContents.length; i++) {
                if (trContents[i].innerHTML) {
                    // Add previous rows
                    newTable += "<TR>";
                    newTable += trContents[i].innerHTML;
                    newTable += "</TR>";
                }
            }
        }

        newTable += endTag;

        //Update the Previous Table With New Table.
        document.getElementById('tableDiv').innerHTML = newTable;

        $('button.removebutton').on('click', function () {
            quitarFila($($(this).parent().parent()).index())
            $(this).closest('tr').remove();
            return false;
        });


       



    });



    function CmdAdd_onclick() {

        CargarGrillaDeDimensiones();

    }


    function CargarGrillaDeDimensiones() {
        var newTable, startTag, endTag;

        if ($('#txtLargoDimension').val().trim() == "" || $('#txtAnchoDimension').val().trim() == "")
            return;

        if ($('#txtComentarioDimension').val().trim() == "")
            $('#txtComentarioDimension').val("-");


		var largoTemp = $('#txtLargoDimension').val().trim();
		var anchoTemp = $('#txtAnchoDimension').val().trim();
		
		largoTemp = largoTemp.replace('.', ',');
		anchoTemp = anchoTemp.replace('.', ',');
		
		$('#txtLargoDimension').val(largoTemp);
		$('#txtAnchoDimension').val(anchoTemp);
			
        //Creating a new table
        //startTag = "<TABLE class=\"table table-striped\" id='tblAmbientes' name='tblAmbientes'><TBODY><TR><TD style=\"WIDTH: 120px\">Codigo Ambiente</TD><TD style=\"WIDTH: 120px\">Ambiente</TD><TD style=\"WIDTH: 120px\">Largo</TD><TD style=\"WIDTH: 120px\">Ancho</TD><TD style=\"WIDTH: 120px\">Comentarios</TD><TD style=\"WIDTH: 120px\">Eliminar</TD></TR>"
        startTag = "<TABLE class=\"table table-striped\" id='tblAmbientes' name='tblAmbientes'><TBODY><TR><TD>Codigo Ambiente</TD><TD>Ambiente</TD><TD>Largo</TD><TD>Ancho</TD><TD>Comentarios</TD><TD>Eliminar</TD></TR>"
        endTag = "</TBODY></TABLE>"

        newTable = startTag;
        var trContents;

        //Get the row contents
        trContents = document.body.getElementsByTagName('TR');
        if (trContents.length > 1) {
            for (i = 1; i < trContents.length; i++) {
                if (trContents[i].innerHTML) {
                    // Add previous rows
                    newTable += "<TR>";
                    newTable += trContents[i].innerHTML;
                    newTable += "</TR>";
                }
            }
        }
        //Add the Latest row
        newTable += "<TR><TD>" + document.getElementById('ddlAmbiente').value + "</TD>";
        newTable += "<TD>" + $("#ddlAmbiente option:selected").text(); + "</TD>";
        newTable += "<TD>" + $('#txtLargoDimension').val() + "</TD>";
        newTable += "<TD>" + $('#txtAnchoDimension').val() + "</TD>";
        newTable += "<TD>" + $('#txtComentarioDimension').val() + "</TD>";
        newTable += "<td><button type=\"button\"  class=\"removebutton\" title=\"Remove this row\">X</button></TD><TR>";

        newTable += endTag;

        //Update the Previous Table With New Table.
        document.getElementById('tableDiv').innerHTML = newTable;


        var miDimension = new Object();
        miDimension.idTipoAmbiente = document.getElementById('ddlAmbiente').value;
        miDimension.largo = $('#txtLargoDimension').val();
        miDimension.ancho = $('#txtAnchoDimension').val();
        miDimension.alto = 0;
        miDimension.descripcion = $('#txtComentarioDimension').val();

        enviarDatosFila(miDimension);

        $('#txtLargoDimension').val("");
        $('#txtAnchoDimension').val("");
        $('#txtComentarioDimension').val("");


        $('button.removebutton').on('click', function () {
            quitarFila($($(this).parent().parent()).index())
            $(this).closest('tr').remove();
            return false;
        });

    }




    function getDataTable() {
        var table = $("#tableDiv");
        var datos = [];

        table.find('tr').each(function (i) {
            if (i > 0) {
                var $tds = $(this).find('td'),
                    _idAmbiente = $tds.eq(0).text(),
                    _largo = $tds.eq(2).text();
                _ancho = $tds.eq(3).text();
                _comentario = $tds.eq(4).text();

                if (_idAmbiente != "") {
                    datos.push({ IdDimension: 0, IdPropiedad: 0, Descripcion: _comentario, IdTipoAmbiente: _idAmbiente, Largo: _largo, Ancho: _ancho, Alto: 0 });
                }
            }
        });

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Manage/SetSessionTableData",
            datatype: "json",
            data: JSON.stringify({ datos }),

            success: function (data) {

            },
            failure: function (data) {
                alert("Failure " + data.responseText);
            },
            error: function (data) {
                alert("Error " + data.responseText);
            }
        })

    }

    function quitarFila(indice) {

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Manage/DeleteRowToSession",
            datatype: "json",
            data: JSON.stringify({ indice }),

            success: function (data) {

            },
            failure: function (data) {
                alert("Failure " + data.responseText);
            },
            error: function (data) {
                alert("Error " + data.responseText);
            }
        })


    }

    function enviarDatosFila(dimension) {

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Manage/AddRowToSession",
            datatype: "json",
            data: JSON.stringify({ dimension }),

            success: function (data) {

            },
            failure: function (data) {
                alert("Failure " + data.responseText);
            },
            error: function (data) {
                alert("Error " + data.responseText);
            }
        })


    }





</script>



<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Edición de Propiedades</h1>
            </div>
        </div>
    </div>
</div>

<div class="properties-area recent-property" style="background-color: #FFF;">
    <div class="container">

        <form action="EditProperty" name="formulario" id="formulario" method="POST" enctype="multipart/form-data">
            <div id="accordion">
                <h3>Información Básica</h3>

                <div>
                    <div class="row">
                        @Html.HiddenFor(m => m.IdPropiedad, new { id = "hdIdPropiedad" })

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Código <small></small></label>
                                @Html.TextBoxFor(m => m.CodigoPropiedad, new { @class = "form-control", id = "txtCodigo", name = "txtCodigo", placeholder = "CN001" })
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Nombre del aviso <small> (requerido)</small></label>
                                @Html.TextBoxFor(m => m.TituloAviso, new { @class = "form-control", id = "txtTituloAviso", name = "txtTituloAviso", placeholder = "Excelente propiedad en..." })
                            </div>
                        </div>


                        <div class="col-sm-2">
                            <div class="form-group">
                                @Html.LabelFor(m => m.MonedaSeleccionada)
                                @Html.DropDownListFor(m => m.MonedaSeleccionada, Model.Monedas, htmlAttributes: new { @class = "selectpicker", id = "ddlMoneda" })

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Precio<small> (requerido)</small></label>
                                @{
                                    Model.Precio = Convert.ToDecimal(Model.Precio.ToString("0.##"));
                                }
        
                                @Html.TextBoxFor(m => Model.Precio, new { @class = "form-control", id = "txtPrecio", name = "txtPrecio", type = "number", min = "0", max = "99999999", placeholder = "450000" })
                                @*@Html.TextBoxFor(m => m.Precio, new { @class = "form-control", id = "txtPrecio", name = "txtPrecio", type = "number", min = "0", max = "9999999", placeholder = "450000" })*@
                            </div>
                        </div>


                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Descripción de la propiedad <small></small></label>
                                @Html.TextAreaFor(m => m.Comentarios, new { @class = "form-control", id = "txtComentarios", name = "txtComentarios", rows = "5", placeholder = "Este inmueble es ideal..." })
                            </div>
                        </div>

                        <div class="col-sm-3 padding-bottom-15">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.Destacado, new { @class = "form-control", id = "chkDestacado", name = "chkDestacado" })
                                        <label for="chkDestacado">Destacado</label>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.TipoPropiedadSeleccionado)
                                @Html.DropDownListFor(m => m.TipoPropiedadSeleccionado, Model.TiposPropiedades, htmlAttributes: new { @class = "selectpicker", id = "ddlTipoPropiedad" })
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.TipoOperacionSeleccionado)
                                @Html.DropDownListFor(m => m.TipoOperacionSeleccionado, Model.TiposOperacion, htmlAttributes: new { @class = "selectpicker", id = "ddlTipoAviso" })
                            </div>
                        </div>


                        <div class="col-sm-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.EstadoAvisoSeleccionado)
                                @Html.DropDownListFor(m => m.EstadoAvisoSeleccionado, Model.EstadosAviso, htmlAttributes: new { @class = "selectpicker", id = "ddlEstadoAviso" })
                            </div>
                        </div>


                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="wizard-card ct-wizard-orange" id="wizardProperty">
                                    <label>Imagen Principal <small></small></label>
                                    <div class="picture-container">
                                        <div class="picture">

                                            @{

                                                if (Model.Imagenes.Count > 0)
                                                {
                                                    int cantidadPrincipal = Model.Imagenes.Count(m => m.EsPrincipal == true);

                                                    if (cantidadPrincipal == 1)
                                                    {
                                                        string path = Model.Imagenes.Where(m => m.EsPrincipal == true).First().ServerPath;
                                                        <img src="@path" width="300" height="300" class="picture-src" id="wizardPicturePreview" title="" />
                                                    }
                                                    else
                                                    {
                                                        <img src = "~/images/default-property.jpg" width = "300" height = "300" class="picture-src" id="wizardPicturePreview" title="" />
                                                    }
                                                    <input type="file" id="wizard-picture" name="wizardPicture">

                                                }
                                                else
                                                {
                                                    <img src="~/images/default-property.jpg" width="300" height="300" class="picture-src" id="wizardPicturePreview" title="" />
                                                    <input type="file" id="wizard-picture" name="wizardPicture">
                                                }


                                            }



                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <h3>Ubicación</h3>
                <div>
                    <p>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    @Html.LabelFor(m => m.CiudadSeleccionada)
                                    @Html.DropDownListFor(m => m.CiudadSeleccionada, Model.Ciudades, htmlAttributes: new { @class = "selectpicker", id = "ddlBarrio" })


                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Calle<small></small></label>
                                        @Html.TextBoxFor(m => m.Calle, new { @class = "form-control", id = "txtCalle", name = "txtCalle", placeholder = "Av. Congreso" })
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Número<small></small></label>
                                        @Html.TextBoxFor(m => m.NumeroCalle, new { @class = "form-control", id = "txtNumeroCalle", type = "number", name = "txtNumeroCalle", min = "0", max = "99999", placeholder = "1234" })
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-12">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Entre calles<small></small></label>
                                        @Html.TextBoxFor(m => m.EntreCalles, new { @class = "form-control", id = "txtEntreCalle", name = "txtEntreCalle", placeholder = "Entre Washington y Estomba" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>Piso</label>
                                    @Html.TextBoxFor(m => m.Piso, new { @class = "form-control", id = "txtPiso", name = "txtPiso", type = "number", min = "0", max = "300", placeholder = "0" })
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Departamento<small></small></label>
                                        @Html.TextBoxFor(m => m.Departamento, new { @class = "form-control", id = "txtDepartamento", name = "txtDepartamento", placeholder = "A" })
                                    </div>
                                </div>

                            </div>





                            <br>
                        </div>
                    </p>
                </div>

                <h3>Datos adicionales</h3>
                <div>
                    <div class="row">


                        <div class="col-sm-12">

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Metros Totales<small> (m2)</small></label>
                                    @{
                                        Model.MetrosTotales = Convert.ToDecimal(Model.MetrosTotales.ToString("0.##"));
                                    }
                                    @Html.TextBoxFor(m => Model.MetrosTotales, new { @class = "form-control", id = "txtMetrosTotales", type = "number", name = "txtMetrosTotales", min = "0", max = "99999", placeholder = "1000" })
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Metros Cubiertos<small> (m2)</small></label>
                                    @{
                                        Model.MetrosCubiertos = Convert.ToDecimal(Model.MetrosCubiertos.ToString("0.##"));
                                    }
                                    @Html.TextBoxFor(m => Model.MetrosCubiertos, new { @class = "form-control", id = "txtMetrosCubiertos", type = "number", name = "txtMetrosCubiertos", min = "0", max = "99999", placeholder = "1000" })
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Moneda de Expensas<small></small></label>
                                    @Html.DropDownListFor(m => m.MonedaSeleccionada, Model.Monedas, htmlAttributes: new { @class = "selectpicker", id = "ddlMonedaExpensas" })
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Monto Expensas<small></small></label>
                                    @{
                                         Model.MontoExpensas = Model.MontoExpensas == 0 ? 0 : Convert.ToDecimal(Model.MontoExpensas.ToString("0.##"));
                                    }
                                    @Html.TextBoxFor(m => Model.MontoExpensas, new { @class = "form-control", id = "txtMontoExpensas", type = "number", name = "txtMontoExpensas", min = "0", max = "9999999", placeholder = "1000" })
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Ambientes</label>
                                    @Html.TextBoxFor(m => m.CantidadAmbientes, new { @class = "form-control", id = "txtCantidadAmbientes", name = "txtCantidadAmbientes", type = "number", min = "0", max = "100", placeholder = "0" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Sanitarios</label>
                                    @Html.TextBoxFor(m => m.CantidadSanitarios, new { @class = "form-control", id = "txtCantidadSanitarios", name = "txtCantidadSanitarios", type = "number", min = "0", max = "100", placeholder = "0" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Dormitorios</label>
                                    @Html.TextBoxFor(m => m.CantidadDormitorios, new { @class = "form-control", id = "txtCantidadDormitorios", name = "txtCantidadDormitorios", type = "number", min = "0", max = "100", placeholder = "0" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Pisos</label>
                                    @Html.TextBoxFor(m => m.CantidadPisos, new { @class = "form-control", id = "txtCantidadPisos", name = "txtCantidadPisos", type = "number", min = "0", max = "100", placeholder = "0" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 padding-top-15">

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Cantidad Por Piso</label>
                                    @Html.TextBoxFor(m => m.CantidadPorPiso, new { @class = "form-control", id = "txtCantidadPorPiso", name = "txtCantidadPorPiso", type = "number", min = "0", max = "100", placeholder = "0" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Ascensores</label>
                                    @Html.TextBoxFor(m => m.CantidadAscensores, new { @class = "form-control", id = "txtCantidadAscensores", name = "txtCantidadAscensores", type = "number", min = "0", max = "100", placeholder = "0" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Cocheras</label>
                                    @Html.TextBoxFor(m => m.CantidadCocheras, new { @class = "form-control", id = "txtCantidadCocheras", name = "txtCantidadCocheras", type = "number", min = "0", max = "100", placeholder = "0" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Antigüedad <small> (años) </small> </label>
                                    @Html.TextBoxFor(m => m.Antiguedad, new { @class = "form-control", id = "txtAntiguedad", name = "txtAntiguedad", type = "number", min = "0", max = "100", placeholder = "0" })
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 padding-top-15">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.OrientacionSeleccionada)
                                    @Html.DropDownListFor(m => m.OrientacionSeleccionada, Model.Orientaciones, htmlAttributes: new { @class = "selectpicker", id = "ddlOrientacion" })
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12 padding-bottom-15">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.AptoProfesional, new { @class = "form-control", id = "chkAptoProfesional", name = "chkAptoProfesional" })
                                            <label for="chkAptoProfesional">Apto Profesional</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.Balcon, new { @class = "form-control", id = "chkBalcon", name = "chkBalcon" })
                                            <label for="chkBalcon">Balcón</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.Servicio.Agua, new { @class = "form-control", id = "chkAguaCorriente", name = "chkAguaCorriente" })
                                            <label for="chkAguaCorriente">Agua Corriente</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.Servicio.Gas, new { @class = "form-control", id = "chkGasNatural", name = "chkGasNatural" })
                                            <label for="chkGasNatural">Gas Natural</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12 padding-bottom-15">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.Servicio.Cloaca, new { @class = "form-control", id = "chkCloaca", name = "chkCloaca" })
                                            <label for="chkCloaca">Cloaca</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.Servicio.CalderaIndividual, new { @class = "form-control", id = "chkCaldera", name = "chkCaldera" })
                                            <label for="chkCaldera">Caldera Individual</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.Servicio.AireAcondicionado, new { @class = "form-control", id = "chkAireAcondicionado", name = "chkAireAcondicionado" })
                                            <label for="chkAireAcondicionado">Aire Acondicionado</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.Servicio.ServicioSeguridad, new { @class = "form-control", id = "chkServicioSeguridad", name = "chkServicioSeguridad" })
                                            <label for="chkServicioSeguridad">Servicio de Seguridad</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12 padding-bottom-15">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.Servicio.Telefono, new { @class = "form-control", id = "chkTelefono", name = "chkTelefono" })
                                            <label for="chkTelefono">Teléfono</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.Servicio.Internet, new { @class = "form-control", id = "chkInternet", name = "chkInternet" })
                                            <label for="chkInternet">Internet</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.Servicio.Luz, new { @class = "form-control", id = "chkLuz", name = "chkLuz" })
                                            <label for="chkLuz">Luz</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.Servicio.PorteroElectrico, new { @class = "form-control", id = "chkPorteroElectrico", name = "chkPorteroElectrico" })
                                            <label for="chkPorteroElectrico">Portero Eléctrico</label>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="col-sm-12 padding-bottom-15">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.Servicio.Termotanque, new { @class = "form-control", id = "chkTermotanque", name = "chkTermotanque" })
                                            <label for="chkTermotanque">Termotanque</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.Servicio.TV, new { @class = "form-control", id = "chkTV", name = "chkTV" })
                                            <label for="chkTV">TV</label>
                                        </label>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <br>
                    </div>
                </div>

                <h3>Imágenes</h3>
                <div>


                    <div class="picture-container">




                        <div class="picture">
                            <div class="wizard-card">
                                <div class="row">
                                    @{
                                        int i = 0;
                                        int k = 0;
                                        bool hayPrincipal = false;

                                        for (k = 0; k < Model.Imagenes.Count; k++)
                                        {
                                            String nombreSrc = "imagen" + (k + 1) + "Preview";
                                            String nombreFile = "imagen" + (k + 1);

                                            if (@Model.Imagenes[k].EsPrincipal == null || @Model.Imagenes[k].EsPrincipal == false)
                                            {
                                                <div class="col-sm-3">
                                                    <div class="picture-container">
                                                        <div class="picture">
                                                            <img src="@Model.Imagenes[k].ServerPath" class="picture-src" id=@nombreSrc title="" />
                                                            <input type="file" id=@nombreFile name=@nombreFile>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                hayPrincipal = true;
                                            }
                                        }

                                        int cantidadImagenes = hayPrincipal ? 13 : 12;
                                        for (i = 0; i < (cantidadImagenes - Model.Imagenes.Count); i++, k++)
                                        {
                                            String nombreSrc = "imagen" + (k + 1) + "Preview";
                                            String nombreFile = "imagen" + (k + 1);


                                            <div class="col-sm-3">
                                                <div class="picture-container">
                                                    <div class="picture">
                                                        <img src="~/images/default-property.jpg" class="picture-src" id=@nombreSrc title="" />
                                                        <input type="file" id=@nombreFile name=@nombreFile>
                                                    </div>
                                                </div>
                                            </div>

                                        }

                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="property-video">Video de la propiedad</label>
                                @Html.TextBoxFor(m => m.URLVideo, new { @class = "form-control", id = "property_video", name = "property_video", placeholder = "http://www.youtube.com, http://vimeo.com" })
                            </div>
                        </div>
                    </div>
                </div>

                <h3>Dimensiones</h3>
                <div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Ambiente <small></small></label>
                                    @Html.DropDownListFor(m => m.AmbienteSeleccionado, Model.Ambientes, htmlAttributes: new { @class = "selectpicker", id = "ddlAmbiente" })
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Largo <small> (metros) </small></label>
                                    <input id="txtLargoDimension" name="txtLargoDimension" type="text" class="form-control" placeholder="4,5" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Ancho <small> (metros) </small></label>
                                    <input id="txtAnchoDimension" name="txtAnchoDimension" type="text" class="form-control" placeholder="3,5" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Comentario</label>
                                    <input id="txtComentarioDimension" name="txtComentarioDimension" type="text" class="form-control">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">

                            <div class="col-sm-4">

                            </div>

                            <div class="col-sm-4">
                                <input type="button" name="btnAgregarAmbiente" value="Agregar" class="btn btn-default" onclick="return CmdAdd_onclick()" />
                            </div>

                            <div class="col-sm-4">

                            </div>
                        </div>


                    </div>
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <br />
                            <div id="tableDiv" style="text-align:center">
                                <table id="tblAmbientes" name="tblAmbientes" class="table table-striped">
                                    <tr>
                                        <td>Codigo Ambiente</td>
                                        <td>Ambiente</td>
                                        <td>Largo</td>
                                        <td>Ancho</td>
                                        <td>Comentario</td>
                                        <td>Eliminar</td>
                                    </tr>
                                    @{
                                        int j = 0;

                                        for (var cont = 0; cont < Model.Dimensiones.Count(); cont++)
                                        {

											var largo = Model.Dimensiones[cont].Largo;
                                            largo = (largo == null) ? 0 : largo;

                                            var ancho = Model.Dimensiones[cont].Ancho;
                                            ancho = (ancho == null) ? 0 : ancho;

                                            <tr>
                                                <td>@Html.DisplayFor(m => m.Dimensiones[cont].TipoAmbiente.IdTipoAmbiente)</td>
                                                <td>@Html.DisplayFor(m => m.Dimensiones[cont].TipoAmbiente.Descripcion)</td>
                                                <td>@Html.DisplayFor(m => largo)</td>
                                                <td>@Html.DisplayFor(m => ancho)</td>
                                                <td>@Html.DisplayFor(m => m.Dimensiones[cont].Descripcion) </td>
                                                <td><button type="button" class="removebutton" title="Remove this row">X</button></td>
                                            </tr>


                                        }
                                    }

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <br />

            <div class="row">
                <div class="col-sm-3">

                </div>
                <div class="col-sm-3">
                    <input type="submit" class="btn btn-default" value="Guardar" id="btnGuardarEdicion" name="btnGuardarEdicion" />
                </div>
                <div class="col-sm-3">
                    <input type="submit" class="btn btn-default" value="Volver" id="btnVolver" name="btnVolver" />
                </div>
                <div class="col-sm-3">

                </div>
            </div>

            <br />
        </form>


    </div>
</div>